<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite">
    <test verbose="2" preserve-order="true"
          name="DemoCucumberGherkinAutomation">
        <classes>
            <class name="com.ibm.runner.RunUsingTestNg" />
        </classes>
    </test>
</suite>